td {
  font-size: 12px;
}
.avatarSmall {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.avatarBig {
  width: 100%;
  object-fit: cover;
}

.avatarTable {
  width: 42px;
  height: 42px;
  object-fit: cover;
  border-radius: 21px;
}
.backgroundHeader{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  background-size: cover;
}
.tagLabel{
  background-color: #333;
  border-radius: 5px;
  padding: 2px;
  color: white;
  margin-right: 2px;
  font-size: 12px;
}
.tagLabelAdd{
  font-size: 12px;
  cursor: pointer; 
  cursor: hand;
  background-color: #42814e;
  border-radius: 5px;
  padding: 2px;
  color: white;
  margin-right: 2px;
}
.tagLabelEdit{
  font-size: 12px;
  cursor: pointer; 
  cursor: hand;
  background-color: #333;
  border-radius: 5px;
  padding: 2px;
  color: white;
  margin-right: 2px;
}

.bigModal{
  margin: 2% !important;
  padding: 0px;
  width: 96% !important;
  max-width: 100% !important;
}

.rowEntry {
  padding: 10px;
  border-bottom: 1px solid #333;
}

.rowEntry img{
  border-radius: 48px;
  width: 96px;
  height: 96px;
}

.rowEntrySelected {
  padding: 10px;
  background-color: #ededed;
  border-bottom: 1px solid #888;
}
.rowEntrySelected img{
  width: 128px;
  height: 128px;
  border-radius: 64px;
} 
.rowCentered{
  flex: 1;
  align-items: center;
  text-align: center;
}