td {
  font-size: 12px;
}
.avatarSmall {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.avatarBig {
  width: 100%;
  object-fit: cover;
}

.postImage {
  width: 100px;
  height: 150px;
  object-fit: cover;
  font-size: 12px;
}
.backgroundHeader{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  background-size: cover;
}
.tagLabel{
  background-color: #333;
  border-radius: 5px;
  padding: 2px;
  color: white;
  margin-right: 2px;
  font-size: 12px;
}
.tagLabelAdd{
  font-size: 12px;
  cursor: pointer; 
  cursor: hand;
  background-color: #42814e;
  border-radius: 5px;
  padding: 2px;
  color: white;
  margin-right: 2px;
}
.tagLabelEdit{
  font-size: 12px;
  cursor: pointer; 
  cursor: hand;
  background-color: #333;
  border-radius: 5px;
  padding: 2px;
  color: white;
  margin-right: 2px;
}

.bigModal{
  margin: 2% !important;
  padding: 0px;
  width: 96% !important;
  max-width: 100% !important;
}

.rowEntry {
  padding: 10px;
  border-bottom: 1px solid #333;
}

.rowEntry img{
  border-radius: 40px;
  width: 80px;
  height: 80px;
}

.avatarHolder {
  width: 81px;
  height: 81px;
  position: relative;
}

.rowEntrySelected {
  padding: 2px;
  background-color: #ededed;
  border-bottom: 1px solid #888;
}
.rowEntrySelected img{
  width: 80px;
  height: 80px;
  border-radius: 40px;
  border: 1px solid #efefef;

} 
.rowCentered{
  flex: 1;
  align-items: center;
  text-align: center;
}
.missingFile{
    border-radius: 40px;
    overflow: hidden;
    width: 80px;
    height: 80px;
    position: relative;
    font-size: 12px;
    z-index: 10;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dzRemove {
    padding: 0px !important;
    margin: 0px !important;
    width: 24px !important;
    position: absolute;
    height: 24px !important;
    background-color: #e46a6b !important;
    text-indent: 100% !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    border-radius: 12px !important;
    font-size: 14px !important;
    text-align: center !important;
    display: block !important;
    cursor: pointer !important;
    border: none !important;
    top: 0 !important;
    right: 0 !important;
    z-index: 1001;
}
.tdStyle {
  border-right: 1px solid #efefef;
}

.productImage {
  width: 80px;
  height: 80px;
  border-color: 1px solid #aaa;
  border-radius: 40px;
}

.imageColumn{
  padding: 0px !important;
  width: 400px !important;
  max-width: 400px !important;
}
.absoluteButton{
  position: absolute;
}
.absoluteButtonSecondRow{
  position: absolute;
  right: 0px;
}
.editMode{
  font-size: 12px;
}
.uploadCurrentProductPicture{
  margin-top: 100px;
  margin-left: 100px;
}
.uploadCurrentProductPicture{
  background-color: #ddd;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  padding-left: 58px;
  padding-top: 58px;
}